body{
  background-color: gray;
}
p{
  color: black;
  text-align: center;
}
.center {
  margin: auto;
  width: 100%;
}
.tblCenter{
  margin: auto;
}
table{
  border-spacing: 0;
  border: 5px solid black;
  table-layout: auto;
  width: 50%;
}
th{
  background-color: yellow;
  height: 40px;
  border: outset black;
}
td{
  padding: 5px;
  border-spacing: 3px;
  text-align: center;
  background-color: white;
  border: inset gray;
}
td:hover{
  background-color: white;
  border: outset gray;
}
